# Compiled files
out/
target/
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
.classpath
.project
.settings/

# NetBeans files
nbproject/

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Gradle build directory
/build/
